In [1]:
import networkx as nx
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import copy
import dill

In [2]:
raw_data = pd.read_csv(r'data/graph.csv', sep='\t', header=None)

In [3]:
raw_data.head()

     0  1           2
0  1 2  1  1095183096
1  3 4  1  1095183096
2  5 6  1  1095183096
3  7 8  1  1095183096
4  9 2  1  1095183096

In [13]:
epoch = list()
nodes_1 = list()
nodes_2 = list()
timestamps = list()
tmp = 1095183096
for index, row in raw_data.iterrows():
    nodes = row[0].split(' ')
    _time = int((int(row[2]) - tmp) / 600) + 1
    nodes_1.append(nodes[0])
    nodes_2.append(nodes[1])
    timestamps.append(_time)
    epoch.append(int(row[2]))

In [14]:
new_data = {
    'node1': nodes_1,
    'node2': nodes_2,
    'timestamp': timestamps,
    'epoch': epoch
}

df = pd.DataFrame(new_data)

In [15]:
df.head()

  node1 node2  timestamp       epoch
0     1     2          1  1095183096
1     3     4          1  1095183096
2     5     6          1  1095183096
3     7     8          1  1095183096
4     9     2          1  1095183096

In [16]:
df.to_csv(r'data/new_graph', sep='\t', index=False)